body{
    font-family: 'Caveat', cursive;
    background-image: linear-gradient(to bottom right, rgb(255, 143, 143), rgb(255, 211, 218));
}

.header_div{
    background: white;
    color:tomato;
}

.header_div p{
    font-family: 'Mrs Saint Delafield', cursive;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Mrs Saint Delafield', cursive;
    margin-top: 30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position:fixed;
    color: midnightblue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}